@{
    ViewBag.Title = "Canteen";
}

<div class="home-container">
    <div class="my-title-container">
        <div class="title-main">
            Canteen
        </div>
        <div class="title-sub">
            just eat and go...
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document)
            .ready(function () {
                $('body')
                    .css('background', 'linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)')
                    .css('overflow', 'hidden');
            });
    </script>
}